#msgs-container {
    background-color: rgb(34, 34, 34);
}

#nav-container {
    background-color: rgb(26, 26, 26);
}

.outgoing-msg {
    background-color: rgba(65, 75, 216, 0.918);
}

.outgoing-msg, .incoming-msg {
    border-radius: 20px;
}